*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background:#9de2f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius:50px;
    background: url(images/jerry.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2) {
    background: url(images/tom.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3) {
    background: url(images/oggy.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4) {
    background: url(images/Bhim.png);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5) {
    background: url(images/Kalia.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6) {
    background: url(images/Jaggu.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(7) {
    background: url(images/Ben10.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover {
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
}
